<!--The content below is only a placeholder and can be replaced.-->



<nav class="navbar navbar-toggleable-md  bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#" font="bold"><h4>What's For Lunch</h4></a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Calorie Calculator</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="container-fluid">
      <router-outlet></router-outlet>
  </div>
 


<body>
<div class="container">
<div class="row">
    <span font="bold" style="color:skyblue"><h4 ><br>&nbsp;&nbsp;Restaurants</h4></span>
  </div>
<div class="row">
  <div class="col-12 col-sm-6 col-md-8">
      <accordion>
          <accordion-group heading="Chinese Food"
          [panelClass]="customClass"
          [isOpen]="!isFirstOpen">
            Pacifica Cafe &nbsp;&nbsp;   <button id = "btn" class="btn btn-warning btn-sm" (click)="hideshow()">Rating: 4.1 </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
            <button class="btn btn-primary" routerLink="/restaurant"> 12:00</button>  <button class="btn btn-primary" (click)="btnClick();"> 12:30</button>  <br>
            Mings Bistro   &nbsp;&nbsp;    <button id = "btn" class="btn btn-warning btn-sm" (click)="ReviewEvent($event,'2')">Rating: 3.7 {{rating}} </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary" (click)="btnClick();"> 12:00</button> <button class="btn btn-primary" (click)="btnClick();"> 12:30</button> <br>
            East Dumpling House  &nbsp;&nbsp; <button id = "btn" class="btn btn-warning btn-sm" (click)="ReviewEvent($event,'2')">Rating: 4.6 {{rating}} </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary" (click)="btnClick();"> 12:15</button> <button class="btn btn-primary" (click)="btnClick();"> 12:30</button>  <br>
          </accordion-group>
          <accordion-group heading="Japanese Food" [panelClass]="customClass"
          [isOpen]="!isFirstOpen">
              Taipei Tokyo<br>
              Yoyogi<br>
          </accordion-group>
          <accordion-group heading="Thai Food" [panelClass]="customClass"
          [isOpen]="!isFirstOpen">
              Thai Express<br>
              Asian Nine<br>
          </accordion-group>
          <accordion-group heading="Mediteranean Food" [panelClass]="customClass"
          [isOpen]="!isFirstOpen">
              Mezeh<br>
              Cava<br>
          </accordion-group>
        </accordion>
  </div>


  <div class="col-6 col-md-4">





<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <div class="row">
      <span font="bold" style="color:skyblue"><h4 >&nbsp;&nbsp;Reviews  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn btn-primary btn-xs" *ngIf="showHide">Your idea! </button></h4></span>
    </div>
    <div class="row" *ngIf="showHide">
        <div class="col-sm-12">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#"><h5>Sunhao Shen</h5></a>
                            made a post.
                        </div>
                        <h6 class="text-muted time">1 minute ago</h6>
                    </div>
                </div> 
                <div class="post-description"> 
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This restaurant is the best for lunch hours. Highly recommend!!!</p>
                    <div class="stats">
                        <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-thumbs-up icon"></i>20
                        </a>
                        <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-thumbs-down icon"></i>1
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="http://bootdey.com/img/Content/user_2.jpg" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#"><h5>Kassie Babarra</h5></a>
                            made a post.
                        </div>
                        <h6 class="text-muted time">3 days ago</h6>
                    </div>
                </div> 
                <div class="post-description"> 
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Food is just so so. I prefer Mings Bistro. </p>
                    <div class="stats">
                        <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-thumbs-up icon"></i>2
                        </a>
                        <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-thumbs-down icon"></i>14
                        </a>
                    </div>
                </div>
            </div>
        </div>



</div>






  </div>
</div>




</div>







</body>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>