<br>
<br>
       <span font="bold" style="color:skyblue"><h4>Pacific Cafe Menu</h4></span>
        <div class="col-12 col-sm-6 col-md-8" >
    <p *ngFor="let item of menuItems">
        {{item.name}} (pic) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${{item.price}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
        </div>

        <div class="col-6 col-md-4">
            <p>Quantity&nbsp;<input type="text" id = "value1" [(ngModel)]="value1"></p>
            <p>Quantity&nbsp;<input type="text" id = "value2" [(ngModel)]="value2"></p>
            <p>Quantity&nbsp;<input type="text" id = "value3" [(ngModel)]="value3"></p>    
            
        </div> 
        <div>
            <button class="btn btn-primary" (click) = "total(value1,value2,value3)">Total</button>
        </div>
        <br/>
        <br/>
        <span font="bold" style="color:skyblue"><h4>The total amount to pay is $ {{value}} </h4></span>
        


        <div *ngIf="showHide">
            <span font="bold" style="color:navy" font="bold"><h4>Directing you to Paypal to finish your payment  :)</h4></span>
        </div>


























        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>       <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>       <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>       <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        